
@media (max-width: 1400px) {
  li.nav-item {
    padding: 0 25px !important;
}
}
@media (max-width: 1200px) {
  li.nav-item {
    padding: 0 7px !important;
}
}

@media (max-width: 430px) {
    .Navbar,.row{
      display: flex;
      justify-content: space-between;
    }
    .about-box{
        padding: 5px !important;
    }
    .form {
        padding-right: 1px !important;
    }
    .text-center{
      text-align: justify !important;
    }
    .heading{
      text-align: center !important;
      margin-top:15px;
      font-size: 25px !important;
    }
    .about-box{
      background-color: white ;
      gap: 2px;
      margin-bottom: 30px;
      border-radius: 15px;
    }
    .abouts img{
      width: 100% !important;
    }
   
   .justify{
    text-align: justify !important;
   }
    .box{
      padding:12px !important;
    text-align: center !important;
    margin-bottom: 30px;
    }
    .service{
      padding: 15px;
    }
    .text-start{
      text-align: justify !important;
    }
    .mobile{
      margin-top:5px !important;
      width: 160% !important;
  }
  p{
    text-align: center !important;
  }
  .padd{
    padding: 10px !important;
 }
 .footer-res{
  display: grid;
  justify-content:center !important;
  align-items: center !important;
}
label.nav-link{
  padding: 3px !important;
}
.card{
  margin-bottom:30px !important;
}
.card-box{
  margin-bottom:0px !important;
}
.box{

  padding: 20px 60px;
  background-color: white;
  border-radius: 20px;
   cursor: pointer;
   width:100% !important;
}
.Home-page{
  margin-top: -180px;
  width: 100%;
}
.overflow{
  overflow-x: hidden !important;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upp{
  display: grid;
  justify-content: center !important;
  align-items: center !important;
}
.nav-item,.nav-ite{
  font-size: 30px;
  margin-bottom: 20px;
}
.contact {
  padding: 8px 7px !important;
}
.contact img {
  height: 300px !important;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.company-logos img{
  width: 70px;
}
.cen{
  text-align: center !important;
}
.home-page button {
  position: absolute;
  top: 333px !important;
}
.Home-page {
  margin-top: -19px !important;
}
  }